

.logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.2);
}

.site-layout-sub-header-background {
  background: #fff;
}

.ant-layout-sider-zero-width-trigger {
  top: 52px;
  right: -60px;
}
.site-layout-background {
  background: #fff;
}
[data-theme='dark'] .site-layout-sub-header-background {
  background: #141414;
}
